
table {
    width: 100%;
  }

 .all-students
 {
    height: 400px !important;
    overflow-y: scroll;
 }
 /* =================== */

 .delete
 {
    background-color: red;
    width: 4rem;
    height: 2rem;
    border: solid 1px white;
    border-radius: 10px;
 }
 .Edit
 {
    background-color: green;
    width: 4rem;
    height: 2rem;
    border: solid 1px white;
    border-radius: 10px;
 }